DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_BUCKET=your-bucket
DO_SPACES_KEY=your-spaces-key
DO_SPACES_SECRET=your-spaces-secret
DO_SPACES_CDN_URL=https://your-bucket.nyc3.cdn.digitaloceanspaces.com
NHOST_SUBDOMAIN=your-subdomain
NHOST_REGION=your-region
PORT=3001
